.feedBack{
    .feedbackContainer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        margin: 0 auto;
        padding-top: 100px;
        padding-bottom: 100px;
    }
}


@media (max-width: 668px){
    .feedBack{
        .feedbackContainer{
            flex-wrap: wrap;
        }
    }
}